[submodule "boilerplate-npm"]
	path = boilerplate-npm
	url = git@github.com:tsara27/boilerplate-npm.git
[submodule "boilerplate-express"]
	path = boilerplate-express
	url = git@github.com:tsara27/boilerplate-express.git
[submodule "boilerplate-mongomongoose"]
	path = boilerplate-mongomongoose
	url = git@github.com:tsara27/boilerplate-mongomongoose.git
