[submodule "boilerplate-npm"]
	path = boilerplate-npm
	url = git@github.com:tsara27/boilerplate-npm.git
[submodule "boilerplate-express"]
	path = boilerplate-express
	url = git@github.com:tsara27/boilerplate-express.git
[submodule "boilerplate-mongomongoose"]
	path = boilerplate-mongomongoose
	url = git@github.com:tsara27/boilerplate-mongomongoose.git
[submodule "boilerplate-project-timestamp"]
	path = boilerplate-project-timestamp
	url = git@github.com:tsara27/boilerplate-project-timestamp.git
[submodule "boilerplate-project-headerparser"]
	path = boilerplate-project-headerparser
	url = git@github.com:tsara27/boilerplate-project-headerparser.git
